/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.components-panel fieldset {
	width: 100%;
}

.blocks-base-control__label {
	margin-bottom: 12px;
}


.wp-block[data-type="scc/modal-container"] > .block-editor-inner-blocks  {
  background: $gray;
  margin: 0 auto;
  padding: 1rem;

	.block-editor-block-list__layout {

		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}
}

.wp-block[data-type="scc/modal-info"] {

	> .block-editor-inner-blocks {
		margin: 0 auto;
		padding: 1rem;
	}
}

.wp-block[data-type="scc/modal-popup"] {
	display: none;

	> .block-editor-inner-blocks {
		background-color: $white;
		margin: 0 auto;
		padding: 1rem;
	}
}

.wp-block.is-selected[data-type="scc/modal-container"] .wp-block[data-type="scc/modal-popup"],
.wp-block.has-child-selected[data-type="scc/modal-container"] .wp-block[data-type="scc/modal-popup"] {
	display: block;
}
