/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.components-panel fieldset {
	width: 100%;
}

.blocks-base-control__label {
	margin-bottom: 12px;
}


.wp-block[data-type="scc/modal-container"] > .block-editor-inner-blocks  {
  margin: 0 auto;

	.block-editor-block-list__layout {

		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}
}

.wp-block[data-type="scc/modal-info"] {
	margin-bottom: 0;

	> .block-editor-inner-blocks {
		background-color: $gray;
		border-radius: 3px;
		margin: 0 auto;
		padding: 1rem;
	}
}

.wp-block[data-type="scc/modal-popup"] {
	display: none;
	margin-top: 0;

	> .block-editor-inner-blocks {
		border: 1px solid $gray;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		margin: 0 auto;
		padding: 1rem;
	}
}

.wp-block.is-selected[data-type="scc/modal-container"],
.wp-block.has-child-selected[data-type="scc/modal-container"] {
	.wp-block[data-type="scc/modal-info"] {
		> .block-editor-inner-blocks {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
	.wp-block[data-type="scc/modal-popup"] {
		display: block;
	}
}
