/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.scc-modal-block--active {
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.wp-block-scc-modal-container {

}

.wp-block-scc-modal-info {

}

.wp-block-scc-modal-popup {
	align-items: start;
	background-color: rgba(#000000, .75);
	display: none;
	height: 100%;
	justify-content: center;
	left: 0;
	overflow-y: scroll;
	padding: 1rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;

	.scc-modal-popup__container {
		background-color: $white;
		border-radius: 3px;
		max-width: 600px;
		padding: 1rem;
		width: 100%;
	}

	.scc-modal-popup__close-container {
		text-align: right;
	}

	.scc-modal-popup__close {
		padding: 3px 10px;
	}
}

.modal-open .wp-block-scc-modal-popup {
	display: flex;
}
